body {
   background-color: rgb(210, 233, 253);
}

.App {
   width: 50vw;
}

.display {
   height: 70vh;
   width: 100%;
   margin: 5vh 25vw 0px;
   border: 1px solid rgb(142, 202, 255);
   border-radius: 30px;
   background-color: rgb(142, 202, 255);
   background: linear-gradient(0deg, rgb(107, 151, 192) 0%, rgb(142, 202, 255) 100%);
}

.nav {
   margin: 5vh 25vw 0px;
   width: 100%;
}

.nav ul {
   padding: 0px;
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.nav ul li {
   
}